  body {
    margin-top: 200px; /* Adjust this value to your desired spacing */
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
    width: 100%;
    max-width: 100%;
  }

  main {
    margin-top: 160px;
    margin-bottom: 10px; /* Change 200px to the actual height of the footer element */
  }
  
  .box1 {
    display: flex;
    flex-direction: row;
    text-align: right;
    width: 100%;
    max-width: 100%;
    height: 80px;
    background-color: lightgray;
    padding: 50px 80px 50px;
  }
  
  .box1 h1 {
    margin: 0;
    text-align: right;
    font-size: 48px;
    font-weight: bold;
    color: #2d1634;
  }
  
  .box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 50px;
    color: #2d1634;
    background-color: lightgray;
    padding: 20px;
    font-style: italic;
  }

  ul {
    list-style-type: none;
    margin: 0;
    width:fit-content;
    padding: 0 150px 20px;
    padding-right: 200px;
  }
  
  li {
    display: block;
    margin: 10px 0;
  }
  
  
  p {
    align-items: center;
    width: 100%;
    max-width:100%;
    height: 50px;
    background-color: lightgray;
    padding-left: 150px;
    display: block;
    margin: 10px 0;
  }
  
  .box2-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
  }
  
  .box2-content {
    width: 60%;
    margin-right: 20px;
  }
  
  .box3 {
    width: 100%;
    height: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .box button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .box3-content {
    display: none;
  }
  
  .box3-content.hidden {
    display: none;
  }
  
  .box3-content.visible {
    display: block;
  }
  
  /*----------------------*/  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d1634; /* Change this to the desired color */
    padding: 10px;
    position: fixed;
    height: 140px;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Calibri", sans-serif;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #dbc070; /* Change this to the desired hover color */
    text-decoration: underline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    font-style: italic;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  nav.main-navigation ul li {
    display: inline-block;
    border-right: 1px solid #fff;
    padding-right: 10px;
    margin-right: 10px;
  }
  
  nav.main-navigation ul li:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
  
  /*----------------------*/

  footer {
    clear: both;
    display: flex;
    justify-content: space-between;
    background-color: #2d1634; /* Change this to the desired color */
    position: relative;
    padding: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-family: "Calibri", sans-serif;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col-md-1 {
    width: 20%;
    display: inline-block;
    align-items: left;
    padding-left: 80px;
  }

  .col-md-2 {
    width: 35%;
    display: inline-block;
    align-items: left;
    padding-left: 20px;
  }
  
  .col-md-3 {
    width: 30%;
    display: inline-block;
    padding-left: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 0px;
    color: #fff;
  }

  .col-md-3 h3 {
    padding-left: 0px;
  }
  
  form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: none;
    color: #000;
    font-family: "Calibri", sans-serif;
  }
  
  form textarea {
    height: 100px;
    color: #000;
  }
  
  button[type="submit"] {
    background-color: #dbc07c;
    color: #2d1634;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #dbc07c;
    color: #fff;
  }
  
  .social-media {
    display: inline-block;
    margin-left: 0px;
    padding-inline-start: 0px;
  }

  .social-media li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .social-media a {
    color: #dbc07c;
    font-size: 24px;
    
  }
  
  .contact-info li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #dbc07c;
    align-items: left;
  }
  
  .contact-info i {
    margin-right: 0px;
    color: #fff;
    align-items: left;  
  }  

  label{
    color: #dbc07c;
  }
  
  .contact-us {
    display: flex;
    align-items: center;
  }
  
  .contact-us i {
    font-size: 24px;
    margin-right: 10px;
  }

  .contact-info{
    list-style: none;
    padding-left: 0px;
  }

  